List Slicing

In [ ]:
players=['one','tow','three','four','five']
print(players[1])
print(players)
print(type(players))
print(players[1:3])

tow
['one', 'tow', 'three', 'four', 'five']
<class 'list'>
['tow', 'three']

In [ ]:
print(players[0:1])
print(players[:3])
print(players)

['one']
['one', 'tow', 'three']
['one', 'tow', 'three', 'four', 'five']

In [ ]:
print(players[2:])

In [ ]:
print(players[:])

In [ ]:
print(players[-1:-2])

In [ ]:
print(players[-5:-2])

['one', 'tow', 'three']

In [ ]:
first_index = -5
print(players[first_index:])

['one', 'tow', 'three', 'four', 'five']

In [ ]:
# polindromo = oso, anitalavalatina
players.append('six')
players.append('seven')
players.append('eigth')
players.append('nine')
players.append('ten')

In [ ]:
print(players)
print(players[::2])#dos puntos quiere decir que habra dos rangos o si se agregan otros dos habra un incremento
#si pones un 4 el incremento sera 4
#[3:9:2]
print(players[::2])
print(players[1::2])#crear linea de dos puntos pares

['one', 'tow', 'three', 'four', 'five', 'six', 'seven', 'eigth', 'nine', 'ten']
['one', 'three', 'five', 'seven', 'nine']
['one', 'three', 'five', 'seven', 'nine']
['tow', 'four', 'six', 'eigth', 'ten']

In [ ]:
numbers = list(range(1,11))
print(numbers)
print(len(numbers))

print(numbers[::-1])#invierte la linea

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
word = 'anitalavalatina'
word == word[::-1]

True

In [2]:
# copiar una variable
nombre = "Alexis"
nombre2 = nombre
nombre = "Eduardo"

print(nombre,nombre2)

Eduardo Alexis

In [7]:
numbers=['one','two','three']
numbers_two = numbers

print(numbers, numbers_two)
print(numbers, numbers_two,sep='\n')

numbers [0]= "Alexis" #solo estoy modificando la primera linea

print(numbers, numbers_two, sep='\n')

['one', 'two', 'three'] ['one', 'two', 'three']
['one', 'two', 'three']
['one', 'two', 'three']
['Alexis', 'two', 'three']
['Alexis', 'two', 'three']

In [8]:
numbers=['one','two','three']
numbers_copy = numbers.copy()

numbers [0] = 'Alexis' #solo estoy modificando la primera lista
print(numbers, numbers_copy, sep='\n')

['Alexis', 'two', 'three']
['one', 'two', 'three']

In [9]:
#mezclar dos listas
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers= numbers_one + numbers_two
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
# mezclar sin el + , no es correcto
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers= (numbers_one, numbers_two)

In [11]:
# mezclar listas
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers_one.extend(numbers_two)
print(numbers_one)

[1, 2, 3, 4, 5, 6]

In [13]:
#mezclar listas

numbers_one = [1,2,3]
numbers_two = [4,5,6]

for number in (numbers_one, numbers_two):
  print(numbers)

  for number in (numbers_one, numbers_two):
    for n in number:
      print(n)

numbers = []

for number in (numbers_one, numbers_two):
    for n in number:
      numbers.append(n)

print(numbers)

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]

In [14]:
#list comprehension

numbers = [n for number in (numbers_one, numbers_two) for n in number]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
# mezclar
numbers_one = [1,2,3]
numbers_two = [4,5,6]

numbers= [*numbers_one, *numbers_two]
print(numbers)